.lista{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

.habilidad{
    width: calc(70% / 6);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 1% 2%;
    padding: 1%;
    background-color: #007EA7;
    border-radius: 10px;
    row-gap: 3px;
}

.habilidad img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 720px) {
    .lista{
        padding: 0 5%;
    }
    .habilidad{
        font-size: 0.5rem;
        border-radius: 8px;
    }
}