.modal{
    max-width: 1920px;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal-img{
    width: 100%;
    height: auto;
    padding: 10px 30px 20px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #003459;
    border-radius: 25px;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0 , 0, .8);
}

.header-modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-modal{
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 11%;
    font-size: 2vw;
}

.cerrar{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.cerrar p{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 3vw;
}

.cerrar p:hover{
    color: #00A7E1;
    transition: 300ms;
}

.content-slider{
    width: 100%;
    height: auto;
}

.card-slider{
    width: 100% !important;
    height: auto;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    margin: 2px;
    gap: 5px;
    box-sizing: border-box;
}

.card-slider h4{
    text-align: center;
    font-size: 1.5vw;
}

.card-slider img{    
    width: 80%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 1366px){
    .modal{
        max-width: 1366px;
        width: 65%;
    }

    .titulo-modal{
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 720px) {
    .modal{
        width: 100%;
    }

    .titulo-modal, .cerrar p{
        font-size: 5vw;
    }

    .card-slider h4{
        font-size: 3vw;
    }

    .card-slider img{    
        width: 98%;
    }

    .slick-dots{
        padding-bottom: 5px;
    }

    .slick-dots li.slick-active button:before{
        color: white;
    }
}