.card-proyecto{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #003459;
    padding: 2%;
    border-radius: 20px;
}

.encabezado{
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.encabezado h4{
    font-size: 1.5vw;
    text-align: center;
}

.encabezado img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.encabezado img:hover{
    outline: 3px solid #00A7E1;
}

.descripcion{
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.descripcion p{
    height: 80%;
    padding: 5% 1%;
    font-size: 1.9vh;
    text-align: justify;
}

.herramientas{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    align-items: flex-end;
}

.link a{
    color: #00A7E1;
}

.link a:hover{
    color: white;
    transition: 300ms;
}

.img-herramientas{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.content-img{
    width: 100%;
    height: 100%;
}

.img-herramientas img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 720px) {
    .card-proyecto{
        border-radius: 10px;
    }

    .encabezado h4{
        font-size: 0.8rem;
    }

    .descripcion p{
        font-size: 1.2vh;
    }

    .herramientas{
        height: 14%;
    }

    .link{
        font-size: 0.8rem;
    }

    .img-herramientas{
        height: 20px;
    }

}
